.navbar-nav li a{
	color: #fff;
}
.navbar-nav li a:hover{
	color: rgba(255,255,255,.5);
}
.shadow-sm a{
	min-height: 300px;
    width: 100%;
    margin: 20px 0;
}
.shadow-sm{
	margin: 20px 0;
}
span.icon-arrow-left2 {
    color: rgba(255,255,255,.5);
    font-size: large;
}
.shadow-sm > a > div > span {
    font-size: 3em;
    width: 100%;
}
.shadow-sm > a > div > p {
    font-size: 2.5em;
    width: 100%;
}