.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.container.marketing {
    width: 90%;
}
.navbar-nav li a{
	color: #fff;
}
.navbar-nav li a:hover{
	color: rgba(255,255,255,.5);
}
nav > span {
    color: rgba(255,255,255,.8);
    position: absolute;
    right: 95px;
}
main {
    margin-top: 40px;
}
.row {
    margin: 0;
}
.shadow-sm a{
	min-height: 150px;
}
.shadow-sm{
	margin: 20px 0;
	padding: 0;
}
span.icon-arrow-left2 {
    color: rgba(255,255,255,.5);
    font-size: large;
}
.shadow-sm > a > div > span {
    font-size: 2em;
}
.shadow-sm > a > div > p {
    font-size: 1.5em;
}
div#DataTables_Table_0_wrapper {
    width: 100%;
}
form {
    width: 100%;
}
form button.btn {
    width: 100%;
    margin: 20px 0;
}
.alert {
    width: 100%;
}
form .col {
    padding: 0;
    margin: 10px 0;
}
.anular{
	border: none;
    background: transparent;
}
/*
form label, form input {
    width: 50% !important;
}*/